<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringWithoutBoot:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringWithoutBoot_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringWithoutBoot/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringWithoutBoot" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="libs" />
        </element>
      </element>
    </root>
  </artifact>
</component>